// ly_footer
// ================================================ */
.ly_footer {
  position: relative;
  padding-block: 194rem 96rem;
  background: #fff;

  @media (max-width: 768px) {
    padding-block: 220rem 80rem;
  }

  .ly_cont {
    position: relative;
    display: flex;
  }

  .un_loopSlider {
    position: absolute;
    top: -108rem;
    left: 0;
    width: 100%;

    &_font {
      height: 320rem;
    }
  }
}

.bl_footerNav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 48rem;

    @media (max-width: 768px) {
      gap: 0;
    }
  }

  &_link {
    font-size: 14rem;
    display: flex;
    gap: 4rem;

    @media (max-width: 768px) {
      font-size: 20rem;
      gap: 8rem;
    }
  }

  .el_external {
    width: 10rem;
    height: 10rem;

    @media (max-width: 768px) {
      width: 20rem;
      height: 20rem;
    }
  }

  &_ttl2 {
    position: relative;
    font-size: 16rem;
    line-height: 1.2;
    font-weight: 700;
    padding-left: 20rem;
    display: inline-block;

    @media (max-width: 768px) {
      font-size: 32rem;
      padding-left: 24rem;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 20rem;
      color: var(--color_primary);
      line-height: 1.2;
      margin-bottom: 8rem;

      @media (max-width: 768px) {
        font-size: 40rem;
      }

      &:before {
        position: absolute;
        left: 0;
        content: "";
        width: 10rem;
        height: 10rem;
        border: 2px solid var(--color_secondary);
        border-radius: 50%;
        margin-right: 8rem;

        @media (max-width: 768px) {
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }

  &_ttl {
    position: relative;
    font-size: 16rem;
    line-height: 1.2;
    font-weight: 700;
    padding-left: 20rem;

    @media (max-width: 768px) {
      font-size: 32rem;
      padding-left: 24rem;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 20rem;
      color: var(--color_primary);
      line-height: 1.2;
      margin-bottom: 8rem;

      @media (max-width: 768px) {
        font-size: 40rem;
      }

      &:before {
        position: absolute;
        left: 0;
        content: "";
        width: 10rem;
        height: 10rem;
        border: 2px solid var(--color_secondary);
        border-radius: 50%;
        margin-right: 8rem;

        @media (max-width: 768px) {
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }
}

// テキスト
.bl_footerNavChild {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin-top: 16rem;
  margin-left: 20rem;

  @media (max-width: 768px) {
    margin-top: 0;
    margin-left: 0;
  }

  &_link {
    font-size: 14rem;
    line-height: 2;

    @media (max-width: 768px) {
      font-size: 28rem;
      padding-block: 12rem;
    }
  }
}

// ロゴ
.bl_footerConts {
  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280rem;
    height: 100rem;
    border: 1px solid var(--color-lineGray);
    border-radius: 16rem;
    padding: 24re 40rem 21rem;

    @media (max-width: 768px) {
      width: 100%;
      height: 140rem;
    }

    .el_logo {
      width: 200rem;
      height: auto;

      @media (max-width: 768px) {
        width: 300rem;
      }
    }
  }

  &_txt {
    line-height: 1;
    margin-top: 10rem;
    font-weight: 700;

    @media (max-width: 768px) {
      margin-top: 16rem;
    }
  }
}

// コピーライト
.bl_footerCopy {
  &Unit {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    margin-top: 100rem;

    @media (max-width: 768px) {
      margin-top: 80rem;
    }
  }

  &Blank {
    display: flex;
    align-items: center;
    gap: 12rem;

    span {
      font-size: 14rem;
      line-height: 2;
      display: flex;
      align-items: center;
      display: inline-block;

      @media (max-width: 768px) {
        font-size: 20rem;
      }
    }

    .el_logo {
      width: 14rem;
      height: 14rem;
    }
  }

  &right {
    font-size: 12rem;
    font-weight: 500;
    line-height: 1.4;

    @media (max-width: 768px) {
      font-size: 16rem;
    }
  }
}

// アコーディオン
@media (max-width: 768px) {
  .bl_footerNav_item {
    padding: 32rem 0 32rem 32rem;
    border-bottom: 1px solid var(--color-lineGray);
  }

  .bl_footerNav_item_inner {
    display: flex;
  }

  .bl_footerNav_ttl__accordion {
    position: relative;
    width: auto;
    padding: 40rem;
  }

  .bl_footerNav_ttl__accordion2 {
    position: relative;
    width: 100%;
  }

  // アコーディオンの開閉ボタンの右側に「+」を表示。
  .bl_footerNav_ttl__accordion::after {
    content: "";
    background-image: url("../../assets/images/common/icon_arrow_btm.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30rem;
    height: 16rem;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: transform 0.3s ease;
  }

  // アコーディオンが開いた際に、
  // 開閉ボタンの右側に「+」を「-」に変更する。
  .bl_footerNav_item.is_active .bl_footerNav_ttl__accordion::after {
    transform: rotate(180deg);
  }

  // アコーディオンの閉じている部分の装飾。
  // height: 0; overflow: hidden;にすることで、
  // 通常時は表示されないようにする。
  .bl_footerNavChild__accordion {
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-left: 24rem;
    transition: all 0.25s ease;
    pointer-events: none;
  }

  // アコーディオンが開いた際に、
  // heightを0からautoに、paddingの上下を0から10に。
  .bl_footerNav_item.is_active .bl_footerNavChild__accordion {
    height: auto;
    padding: 10px 0;
    padding-left: 24rem;
    pointer-events: auto;
  }
}