- var path = 'assets/';
- var img_path = path + 'images';

- 
	var pagelist = {
		//- home
		home: {
			title:"東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			keywords: '',
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
				//- url: "https://www.nttdata-mhis.co.jp/recruit/careers/",
				locale: "ja_JP",
				type: "website"
			}
		},

		//- career
		career: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		nakahara: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		yamamoto: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},

		//- culture
		culture: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		culture01: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		culture02: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
		culture03: {
			title: "東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			//- keywords: '',
			//- og: {
			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
			//- 	locale: "ja_JP",
			//- 	type: "article"
			//- }
		},
	}
