- var path = 'assets/';
- var img_path = path + 'images';


- 
	var pagelist = {
		//- home
		home: {
			title:"東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- about
		about: {
			title: "ひがしんのこと | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫について紹介したページです。東京東信用金庫の経営理念やスローガン、沿革、さまざまなつながりについてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしんのこと | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫について紹介したページです。東京東信用金庫の経営理念やスローガン、沿革、さまざまなつながりについてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/about/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- business
		business: {
			title: "ひがしんの仕事 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫を支える各職種について紹介したページです。営業、融資、事務、MA（マネーアドバイザー）といった4職種の役割や仕事内容についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしんの仕事 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫を支える各職種について紹介したページです。営業、融資、事務、MA（マネーアドバイザー）といった4職種の役割や仕事内容についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/business/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- people
		people: {
			title: "ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の各職種で働く職員について紹介したページです。1日の流れや入庫理由、仕事のやりがい・苦労すること、印象的だったエピソード、今後の目標など各職員が抱く想いについてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の各職種で働く職員について紹介したページです。1日の流れや入庫理由、仕事のやりがい・苦労すること、印象的だったエピソード、今後の目標など各職員が抱く想いについてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/people/",
				locale: "ja_JP",
				type: "website"
			}
		},
		ishida: {
			title: "営業 石田海斗 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
			description: "『接する相手の目線に立ち、最善を尽くす。』『地域に貢献しながら、自らも成長したいと思った。』私は幼少期から野球を始め、大学でも野球部に所属していました。そのため、地域の少年野球チームに関わる機会があり、将来的には地域住民に貢献できる仕事がしたいと思い、地方公務員や信用金庫を志望していました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"営業 石田海斗 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
				description: "『接する相手の目線に立ち、最善を尽くす。』『地域に貢献しながら、自らも成長したいと思った。』私は幼少期から野球を始め、大学でも野球部に所属していました。そのため、地域の少年野球チームに関わる機会があり、将来的には地域住民に貢献できる仕事がしたいと思い、地方公務員や信用金庫を志望していました。",
				url: "https://www.higashin.co.jp/recruit/people/ishida/",
				locale: "ja_JP",
				type: "website"
			}
		},
		iwamoto: {
			title: "融資 岩元洋 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
			description: "『融資を通じて、お客さまの現在と未来をつなぐ。』『職員の温かく、親身な対応が決め手だった。』元々祖父が銀行で働いていたため、幼い頃から金融機関の仕事について話を聞く機会が多く、お客さまの大切な資産を取り扱う責任感と専門性に魅力を感じ、金融業界を志望しました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"融資 岩元洋 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
				description: "『融資を通じて、お客さまの現在と未来をつなぐ。』『職員の温かく、親身な対応が決め手だった。』元々祖父が銀行で働いていたため、幼い頃から金融機関の仕事について話を聞く機会が多く、お客さまの大切な資産を取り扱う責任感と専門性に魅力を感じ、金融業界を志望しました。",
				url: "https://www.higashin.co.jp/recruit/people/iwamoto/",
				locale: "ja_JP",
				type: "website"
			}
		},
		ogasawara: {
			title: "事務 小笠原茉那 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
			description: "『ひがしんの顔として、お客さまと会社をつなぐ。』『物心ついた頃からひがしんが身近な存在だった。』私は高校でビジネス全般について広く学んでいたのですが、中でも簿記や会計に関心があり、そうした知識を活かせる就職先を探していたところ、金融機関に辿り着きました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"事務 小笠原茉那 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
				description: "『ひがしんの顔として、お客さまと会社をつなぐ。』『物心ついた頃からひがしんが身近な存在だった。』私は高校でビジネス全般について広く学んでいたのですが、中でも簿記や会計に関心があり、そうした知識を活かせる就職先を探していたところ、金融機関に辿り着きました。",
				url: "https://www.higashin.co.jp/recruit/people/ogasawara/",
				locale: "ja_JP",
				type: "website"
			}
		},
		yamada: {
			title: "MA 山田華織 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
			description: "『専門的な知識と経験で、地域を支えていく。』『幅広いつながりと課題解決力が魅力だった。』大学では地域の活性化について学ぶゼミに所属しており、さまざまな地域に足を運び、地域課題に対する解決策を考えたり、ボランティア活動を行ったりと地域創生に取り組んでいました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"MA 山田華織 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
				description: "『専門的な知識と経験で、地域を支えていく。』『幅広いつながりと課題解決力が魅力だった。』大学では地域の活性化について学ぶゼミに所属しており、さまざまな地域に足を運び、地域課題に対する解決策を考えたり、ボランティア活動を行ったりと地域創生に取り組んでいました。",
				url: "https://www.higashin.co.jp/recruit/people/yamada/",
				locale: "ja_JP",
				type: "website"
			}
		},
		fukumizu: {
			title: "お客様サポート部 福水雄己 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
			description: "『多角的な視点でさまざまな経営課題を解決に導く。』『ここにしかない「しんきん感」に惹かれた。』就職活動では、「安定している会社」と「人の役に立つ仕事」という2つの軸から業界や企業を見ていました。そのうえで、経済の中心的役割を担う安定性と、融資や保険の提案を通じた社会貢献度の高さに惹かれ、金融業界を志望。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"お客様サポート部 福水雄己 | ひがしんの人々 | 東京東信用金庫 新卒採用サイト",
				description: "『多角的な視点でさまざまな経営課題を解決に導く。』『ここにしかない「しんきん感」に惹かれた。』就職活動では、「安定している会社」と「人の役に立つ仕事」という2つの軸から業界や企業を見ていました。そのうえで、経済の中心的役割を担う安定性と、融資や保険の提案を通じた社会貢献度の高さに惹かれ、金融業界を志望。",
				url: "https://www.higashin.co.jp/recruit/people/fukumizu/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- culture
		culture: {
			title: "ひがしんの社風 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の社風について紹介したページです。年齢や立場、職種の異なる職員の対話を通じて、東京東信用金庫における職員同士のつながりについてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしんの社風 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の社風について紹介したページです。年齢や立場、職種の異なる職員の対話を通じて、東京東信用金庫における職員同士のつながりについてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/culture/",
				locale: "ja_JP",
				type: "website"
			}
		},
		culture01: {
			title: "上司×部下対談 | 東京東信用金庫 新卒採用サイト",
			description: "『上司の言葉を胸に、恐れず挑戦を続ける。』成功も、失敗も優しく見守り、サポートしてくれる上司の存在。ひがしんにおける上司と部下の関係性はどういったものなのか。営業担当として同じ支店で働く2人に縦のつながりについて聞いてみました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"上司×部下対談 | ひがしんの社風 | 東京東信用金庫 新卒採用サイト",
				description: "『上司の言葉を胸に、恐れず挑戦を続ける。』成功も、失敗も優しく見守り、サポートしてくれる上司の存在。ひがしんにおける上司と部下の関係性はどういったものなのか。営業担当として同じ支店で働く2人に縦のつながりについて聞いてみました。",
				url: "https://www.higashin.co.jp/recruit/culture/01/",
				locale: "ja_JP",
				type: "website"
			}
		},
		culture02: {
			title: "若手同期座談会 | 東京東信用金庫 新卒採用サイト",
			description: "『この縁に感謝し、ともに成長していく。』同志としてお互いに助け合い、ライバルとして切磋琢磨する同期職員。同期職員は入庫後、どのように関係を深めていくのか。2023年入庫の職員3名に横のつながりについて語ってもらいました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"若手同期座談会 | ひがしんの社風 | 東京東信用金庫 新卒採用サイト",
				description: "『この縁に感謝し、ともに成長していく。』同志としてお互いに助け合い、ライバルとして切磋琢磨する同期職員。同期職員は入庫後、どのように関係を深めていくのか。2023年入庫の職員3名に横のつながりについて語ってもらいました。",
				url: "https://www.higashin.co.jp/recruit/culture/02/",
				locale: "ja_JP",
				type: "website"
			}
		},
		culture03: {
			title: "営業×MA対談 | 東京東信用金庫 新卒採用サイト",
			description: "『支え合い、どんな困難も乗り越えていく。』お客さまが抱える資産運用や相続に関する問題を解決するため、普段からパートナーとして力を合わせる営業とマネーアドバイザー。２つの職種がそれぞれどんな役割を担い、協力しているのか。仲が良い2人の関係性を通じて、職種間のつながりに迫りました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"営業×MA対談 | ひがしんの社風 | 東京東信用金庫 新卒採用サイト",
				description: "『支え合い、どんな困難も乗り越えていく。』お客さまが抱える資産運用や相続に関する問題を解決するため、普段からパートナーとして力を合わせる営業とマネーアドバイザー。２つの職種がそれぞれどんな役割を担い、協力しているのか。仲が良い2人の関係性を通じて、職種間のつながりに迫りました。",
				url: "https://www.higashin.co.jp/recruit/culture/03/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- career
		career: {
			title: "ひがしんのキャリア | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫のキャリアについて紹介したページです。東京東信用金庫におけるキャリアステップはもちろん、ベテラン職員が抱く仕事への想いについてもご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしんのキャリア | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫のキャリアについて紹介したページです。東京東信用金庫におけるキャリアステップはもちろん、ベテラン職員が抱く仕事への想いについてもご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/career/",
				locale: "ja_JP",
				type: "website"
			}
		},
		nakahara: {
			title: "支店長 中原貴行 | ひがしんのキャリア | 東京東信用金庫 新卒採用サイト",
			description: "『お客さまや部下とまっすぐ向き合う。支店長として、ここにしかない魅力を伝えていく。』『「今」を全力で駆け抜けた、学生時代。」』未来はどうなるか分からない。ならば、今を全力で生きてみよう。これが私のモットーです。親の影響で小学生から始めたテニスは大学に入っても継続し、大学3年時には主将を務め、リーグ昇格を達成。このときに、ひたむきに頑張ることの大切さを学びました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"支店長 中原貴行 | ひがしんのキャリア | 東京東信用金庫 新卒採用サイト",
				description: "『お客さまや部下とまっすぐ向き合う。支店長として、ここにしかない魅力を伝えていく。』『「今」を全力で駆け抜けた、学生時代。」』未来はどうなるか分からない。ならば、今を全力で生きてみよう。これが私のモットーです。親の影響で小学生から始めたテニスは大学に入っても継続し、大学3年時には主将を務め、リーグ昇格を達成。このときに、ひたむきに頑張ることの大切さを学びました。",
				url: "https://www.higashin.co.jp/recruit/career/nakahara/",
				locale: "ja_JP",
				type: "website"
			}
		},
		yamamoto: {
			title: "支店長 山本みゆき | ひがしんのキャリア | 東京東信用金庫 新卒採用サイト",
			description: "『今まで受けた恩を次世代へ送る。支えてもらった分、支えられる人になりたい。』『先輩や同期と過ごしたかけがえない時間。』入庫のために地元である宮城県の田舎町から上京したのは、18歳の頃のこと。その当時の私にはもちろん知り合いなどおらず、不安が募るばかりでしたが、後戻りする選択肢はなく、腹をくくり社会人生活をスタートさせました。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"支店長 山本みゆき | ひがしんのキャリア | 東京東信用金庫 新卒採用サイト",
				description: "『今まで受けた恩を次世代へ送る。支えてもらった分、支えられる人になりたい。』『先輩や同期と過ごしたかけがえない時間。』入庫のために地元である宮城県の田舎町から上京したのは、18歳の頃のこと。その当時の私にはもちろん知り合いなどおらず、不安が募るばかりでしたが、後戻りする選択肢はなく、腹をくくり社会人生活をスタートさせました。",
				url: "https://www.higashin.co.jp/recruit/career/yamamoto/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- area
		area: {
			title: "ひがしん支店巡り | 東京東信用金庫 新卒採用サイト",
			description: "東京の東エリアを中心に、埼玉や千葉にも展開している東京東信用金庫の拠点について紹介したページです。エリアや支店ごとに異なる各拠点の特徴についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしん支店巡り | 東京東信用金庫 新卒採用サイト",
				description: "東京の東エリアを中心に、埼玉や千葉にも展開している東京東信用金庫の拠点について紹介したページです。エリアや支店ごとに異なる各拠点の特徴についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/area/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- voice
		voice: {
			title: "ひがしんアンケート | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の職員や内定者が抱える想いについて紹介したページです。就職活動の軸や東京東信用金庫を選んだ理由など各職員や内定者の本音についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"ひがしんアンケート | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の職員や内定者が抱える想いについて紹介したページです。就職活動の軸や東京東信用金庫を選んだ理由など各職員や内定者の本音についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/voice/",
				locale: "ja_JP",
				type: "website"
			}
		},
		voice01: {
			title: "職員アンケート | ひがしんアンケート | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫で働く職員の本音に迫ったページです。「入庫前後のイメージギャップ」や「働くうえでのモットー」、「印象に残っている言葉」など各職員が抱える想いについてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"職員アンケート | ひがしんアンケート | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫で働く職員の本音に迫ったページです。「入庫前後のイメージギャップ」や「働くうえでのモットー」、「印象に残っている言葉」など各職員が抱える想いについてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/voice/01/",
				locale: "ja_JP",
				type: "website"
			}
		},
		voice02: {
			title: "内定者アンケート | ひがしんアンケート | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫に内定を決めた内定者の本音に迫ったページです。「就職活動の軸」や「効果的だった就職活動対策」、「就職活動の失敗談」など内定者からの就活アドバイスについてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"内定者アンケート | ひがしんアンケート | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫に内定を決めた内定者の本音に迫ったページです。「就職活動の軸」や「効果的だった就職活動対策」、「就職活動の失敗談」など内定者からの就活アドバイスについてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/voice/02/",
				locale: "ja_JP",
				type: "website"
			}
		},


		//- information
		information: {
			title: "採用情報 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の採用情報について紹介したページです。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"採用情報 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の採用情報について紹介したページです。",
				url: "https://www.higashin.co.jp/recruit/information/",
				locale: "ja_JP",
				type: "website"
			}
		},
		environment: {
			title: "働く環境 | 採用情報 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の働く環境について紹介したページです。職員の働きやすさを高める東京東信用金庫の福利厚生制度についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"働く環境 | 採用情報 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の働く環境について紹介したページです。職員の働きやすさを高める東京東信用金庫の福利厚生制度についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/information/environment/",
				locale: "ja_JP",
				type: "website"
			}
		},
		development: {
			title: "人材育成 | 採用情報 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の人材育成について紹介したページです。職員の成長を後押しする東京東信用金庫の教育研修制度についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"人材育成 | 採用情報 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の人材育成について紹介したページです。職員の成長を後押しする東京東信用金庫の教育研修制度についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/information/development/",
				locale: "ja_JP",
				type: "website"
			}
		},
		requirements: {
			title: "募集要項 | 採用情報 | 東京東信用金庫 新卒採用サイト",
			description: "東京東信用金庫の新卒採用に関する募集要項を掲載したページです。応募資格や募集職種、選考基準、初任給、勤務時間についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"募集要項 | 採用情報 | 東京東信用金庫 新卒採用サイト",
				description: "東京東信用金庫の新卒採用に関する募集要項を掲載したページです。応募資格や募集職種、選考基準、初任給、勤務時間についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/information/requirements/",
				locale: "ja_JP",
				type: "website"
			}
		},
		faq: {
			title: "よくある質問 | 採用情報 | 東京東信用金庫 新卒採用サイト",
			description: "応募者から挙がることが多い質問に対して、採用担当者からの回答を掲載したページです。求める人材像や入庫前に必要な資格、配属までの流れ、異動頻度についてご覧いただけます。",
			og: {
				site_name:"東京東信用金庫 新卒採用サイト",
				title:"よくある質問 | 採用情報 | 東京東信用金庫 新卒採用サイト",
				description: "応募者から挙がることが多い質問に対して、採用担当者からの回答を掲載したページです。求める人材像や入庫前に必要な資格、配属までの流れ、異動頻度についてご覧いただけます。",
				url: "https://www.higashin.co.jp/recruit/information/faq/",
				locale: "ja_JP",
				type: "website"
			}
		},
	}


//- old
//- - 
//- 	var pagelist = {
//- 		//- home
//- 		home: {
//- 			title:"東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			keywords: '',
//- 			og: {
//- 				site_name:"東京東信用金庫 新卒採用サイト",
//- 				title:"東京東信用金庫 新卒採用サイト",
//- 				description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 				//- url: "https://www.nttdata-mhis.co.jp/recruit/careers/",
//- 				locale: "ja_JP",
//- 				type: "website"
//- 			}
//- 		},

//- 		//- career
//- 		career: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 		nakahara: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 		yamamoto: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},

//- 		//- people
//- 		culture: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 		culture01: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 		culture02: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 		culture03: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},

//- 		//- people
//- 		people: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 		ishida: {
//- 			title: "東京東信用金庫 新卒採用サイト",
//- 			description: "東京東信用金庫の新卒採用ページです。東京東信用金庫の仕事や職員、社風、拠点、選考情報についてご覧いただけます。",
//- 			//- keywords: '',
//- 			//- og: {
//- 			//- 	site_name: "キャリア採用サイト｜株式会社NTTデータMHIシステムズ",
//- 			//- 	title: "芝信用金庫100周年記念サイト｜しばしんのこれまで",
//- 			//- 	description: "1925年に創立した芝信用金庫の100年にわたる歩みをご紹介いたします。",
//- 			//- 	url: "https://www.nttdata-mhis.co.jp/recruit/careers/special/it-solution/",
//- 			//- 	locale: "ja_JP",
//- 			//- 	type: "article"
//- 			//- }
//- 		},
//- 	}
