//- about -------------------------------------------------------------------------
mixin other-parts
	.ly_cont
		section.bl_sect.un_other
			.un_otherConts
				//- h2.un_other_ttl
				//- 	|この街を
				//- 	span.hp_cSec 縁
				//- 	|でつなぐ。
				//- ボタン
				a.el_btn.el_btn__entry.hp_en(href="https://job.mynavi.jp/25/pc/search/corp71624/outline.html" target="_blank")
					span ENTRY


//- about -------------------------------------------------------------------------
mixin floating-parts
	//- 背景アニメーション
	.bl_anime_floating
		.bl_anime_floating__left
			img(src=img_path+"/common/svg_ball.svg", alt="")
		.bl_anime_floating__right
			img(src=img_path+"/common/svg_ball.svg", alt="")
