// un_message
// ================================================ */
.pg_sec.pg_third.pg_career {
	.bl_MV {
		@media (max-width: 768px) {
			margin-bottom: 144rem;
		}
	}
}

// un_message
// ================================================ */
.pg_sec.pg_third.pg_career {

	.un_message {
		@media (max-width: 768px) {
			padding-top: 240rem;
		}

		.ly_cont {
			position: relative;
		}

		// テキスト
		&Unit {
			position: absolute;
			z-index: 1;
			top: 48rem;
			left: 0;

			@media (max-width: 768px) {
				top: -220rem;
			}
		}

		.un_MVtxt {
			margin-top: 64rem;
			width: 50%;

			.marker {
				background-color: #ffffffd0;
				padding: 16rem 10rem;
			}

			.text {
				font-size: 40rem;
				white-space: nowrap;

				&>span {
					color: var(--color_secondary);
					font-weight: 700;
				}
			}

			.hp_mt {
				margin-top: 8rem;
			}
		}

		// 画像
		&_figure {
			margin-left: auto;
			width: 800rem;
			height: auto;

			@media (max-width: 768px) {
				width: auto;
			}

			img {
				border-radius: 30rem;
			}
		}

		&Conts {
			margin-top: 64rem;

			@media (max-width: 768px) {
				margin-top: 56rem;
			}

			&>*+* {
				margin-top: 40rem;

				@media (max-width: 768px) {
					margin-top: 32rem;
				}
			}
		}
	}

	.un_message.un_message__reverse {

		// テキスト
		.un_messageUnit {
			position: absolute;
			right: auto;
			left: 650rem;

			@media (max-width: 768px) {
				top: -220rem;
				left: 0rem;
				right: auto;
			}
		}

		// 画像
		.un_message_figure {
			margin-left: 0;
			margin-right: auto;
		}

		.el_thirdHeading_wrap {
			position: absolute;
			top: 0;
			right: 0rem;

			@media (max-width: 768px) {
				position: relative;
			}
		}
	}
}

// タブメニュー
// ================================================ */
.pg_sec.pg_third {
	.bl_box {
		.ly_cont {
			padding: 54rem 80rem;
			background: #fff;
			border-radius: 30rem;

			@media (max-width: 768px) {
				padding: 48rem 56rem;
			}
		}

		&Unit {
			display: flex;
			align-items: center;
			gap: 20rem;
			padding-bottom: 40rem;
			border-bottom: 1px solid var(--color_primary);

			@media (max-width: 768px) {
				gap: 16rem;
				padding-bottom: 32rem;
			}
		}

		&_figure {
			width: 80rem;
			height: auto;
		}

		&_ttl {
			span {
				font-size: 32rem;
				color: var(--color_primary);
				display: block;

				@media (max-width: 768px) {
					font-size: 40rem;
				}
			}

			font-size: 24rem;
			color: #000;
			letter-spacing: 0.34em;

			@media (max-width: 768px) {
				font-size: 32;
			}
		}
	}
}

.pg_sec.pg_third.pg_career {
	.bl_chart {
		padding: 54rem 100rem 0 100rem;

		@media (max-width: 768px) {
			padding: 54rem 0 0 0;
		}

		&_wrap {
			margin-top: 48rem;

			@media (max-width: 768px) {
				margin-top: 40rem;
			}
		}

		&_ttl {
			font-size: 32rem;
			font-weight: 700;
			text-align: center;
		}

		&_inner {
			position: relative;
		}
	}
}

// chat
// ================================================ */
.pg_sec.pg_third.pg_career {
	#chart-container {
		width: 100%;
		margin: auto;
	}

	.swiper-container {
		width: 100%;
		margin: auto;
		overflow: hidden;
		padding-top: 56rem;

		@media (max-width: 768px) {
			padding-top: 144rem;
		}
	}

	.swiper-slide {
		text-align: center;
		font-size: 35rem;
	}

	// ボタン
	.swiper {

		// 前への矢印
		&-button-prev {
			left: -120rem !important;

			@media (max-width: 768px) {
				left: 0 !important;
			}
		}

		// 次への矢印
		&-button-next {
			right: -120rem !important;

			@media (max-width: 768px) {
				right: 0 !important;
			}
		}

		// 画像変更
		&-button-prev,
		&-button-next {
			width: 60rem !important;
			height: 60rem !important;
			top: 180rem !important;
			bottom: auto !important;

			@media (max-width: 768px) {
				width: 80rem !important;
				height: 80rem !important;
				top: 70rem !important;
			}

			// デフォルトボタン消去
			&::after {
				display: none !important;
			}

			// svgスタイル
			&::before {
				content: "";
				width: 60rem;
				height: 60rem;
				border: 1px solid #000;
				border-radius: 50%;
				position: absolute;
				z-index: -1;
				border-radius: 50%;

				@media (max-width: 768px) {
					width: 80rem;
					height: 80rem;
				}
			}

			// svgカラー
			.el_arrow_c {
				fill: #000 !important;
			}
		}
	}

	.bl_swiper {
		&-slide {
			display: flex;
			justify-content: center;
		}

		&_year {
			font-size: 20rem;
			color: var(--color_primary);
			font-weight: 700;
			padding: 16rem;
			border: 2px solid var(--color_primary);
			display: inline-block;
			border-radius: 8rem;

			@media (max-width: 768px) {
				font-size: 28rem;
			}
		}

		&_ttl {
			font-size: 24rem;
			font-weight: 700;
			margin-top: 32rem;
			text-align: left;

			@media (max-width: 768px) {
				font-size: 32rem;
				margin-top: 32rem;
			}
		}

		&_txt {
			margin-top: 24rem;
			text-align: left;

			@media (max-width: 768px) {
				margin-top: 24rem;
			}
		}
	}
}

.pg_sec {
	.bl_career {
		&_inner {
			display: flex;
			gap: 80rem;

			@media (max-width: 768px) {
				gap: 40rem;
			}

			@media (max-width: 768px) {
				flex-direction: column;
			}
		}

		&_figure {
			width: 600rem;
			height: auto;
			position: relative;

			&::after {
				content: "";
				width: 600rem;
				height: 400rem;
				border-radius: 30rem;
				border: 1px solid var(--color_primary);
				transform: rotate(4deg);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}

			&>img {
				border-radius: 30rem;
			}

			.bl_anime_circle {
				&_item {
					position: absolute;
					bottom: -40rem;
					left: -40rem;
					font-size: 20rem;
					line-height: 1.8;
					font-weight: 700;
					letter-spacing: 0.1em;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					text-align: center;
					width: 200rem;
					height: 200rem;
					border-radius: 50%;
					background: var(--color_primary);

					@media (max-width: 768px) {
						bottom: -25rem;
						left: -25rem;
						font-size: 28rem;
						width: 220rem;
						height: 220rem;
					}

					&>span {
						font-size: 16rem;
						line-height: 1.5;
						margin-top: 12rem;

						@media (max-width: 768px) {
							font-size: 24rem;
						}
					}
				}
			}
		}

		&Unit {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&_ttl {
			font-size: 40rem;
			font-weight: 700;

			@media (max-width: 768px) {
				font-size: 48rem;
			}
		}

		&_more {
			font-size: 20rem;
			display: flex;
			align-items: center;
			gap: 24rem;
			margin-top: 80rem;

			@media (max-width: 768px) {
				margin-top: 40rem;
				font-size: 28rem;
			}

			&_btm {
				width: 30rem;
				height: 30rem;
				background: var(--color_primary);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (max-width: 768px) {
					width: 48rem;
					height: 48rem;
				}

				.el_arrow {
					width: 8rem;
					height: 15rem;
					display: flex;
					align-items: center;
					justify-content: center;

					@media (max-width: 768px) {
						width: 12rem;
						height: 26rem;
					}
				}
			}
		}
	}

	.bl_career.bl_career_reverse {
		.bl_career_inner {
			flex-direction: row-reverse;

			@media (max-width: 768px) {
				flex-direction: column;
				width: 600rem;
				margin-left: auto;
			}
		}
	}
}