// un_message
// ================================================ */
// 3階層
// ================================================ */
.pg_sec.pg_third.pg_about,
.pg_sec.pg_third.pg_voice {
	.bl_sectMV {
		margin-top: 232rem;

		@media (max-width: 768px) {
			margin-top: 40rem;
		}

		&_inner {
			margin-inline: 40rem;

			@media (max-width: 768px) {
				margin-inline: 32rem;
			}
		}

		&_figure {
			border-radius: 30rem;
			overflow: hidden;
		}

		&_txt {
			margin-top: 72rem;
			text-align: center;

			@media (max-width: 768px) {
				margin-top: 40rem;
				text-align: left;
			}
		}
	}

	// モディファイア
	.el_lv2Heading_wrap.el_lv2Heading_wrap__line {
		position: relative;
		display: flex;
		align-items: center;
		gap: 28rem;
		width: 100%;

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			background: #000;
			display: inline-block;
		}
	}
}

// mv上タイトルマージン
.pg_sec.pg_third.pg_about {
	.bl_sectMV {
		&_figure {
			margin-top: -48rem;
		}
	}
}

.pg_sec.pg_third.pg_voice {
	.bl_sectMV {
		&_figure {
			margin-top: 64rem;
		}

		.el_MVthirdHeading {
			margin-left: 120rem;
		}
	}
}




// h2
.pg_about {
	.bl_about {
		.el_lv2Heading {
			color: #176a9069;

			span {
				&:before {
					border: 4px solid var(--color_primary);
				}
			}
		}
	}
}

// Connections
// ================================================ */
.pg_about {
	.bl_about {
		&_kagi {
			width: 190rem;
			height: auto;
			position: relative;
			margin-top: 32rem;
			margin-inline: auto;

			@media (max-width: 768px) {
				width: 260rem;
				margin-top: 48rem;
			}

			&::after {
				content: "経営理念";
				font-size: 24rem;
				position: absolute;
				inset: 0;
				display: flex;
				align-items: center;
				justify-content: center;

				@media (max-width: 768px) {
					font-size: 32rem;
				}
			}
		}

		&_txtImg {
			width: 400rem;
			height: auto;
			margin-inline: auto;
			margin-top: 40rem;

			@media (max-width: 768px) {
				margin-top: 48rem;
			}
		}

		&_flex {
			display: flex;
			gap: 40rem;
			justify-content: center;
			margin-top: 40rem;

			@media (max-width: 768px) {
				margin-top: 48rem;
				flex-direction: column;
				align-items: center;
			}

			&_item {
				width: 300rem;
				height: 300rem;
				border: 1px solid var(--color_primary);
				background: #fff;
				border-radius: 50%;
				display: flex;
				text-align: center;
				justify-content: center;
				flex-direction: column;
				gap: 8rem;

				@media (max-width: 768px) {
					width: 420rem;
					height: 420rem;
				}
			}

			&_ttl {
				font-size: 32rem;
				font-weight: 700;
				color: var(--color_primary);

				@media (max-width: 768px) {
					font-size: 40rem;
				}
			}
		}

		&_ttl {
			font-size: 40rem;
			font-weight: 700;
			margin-top: 56rem;
			text-align: center;

			@media (max-width: 768px) {
				font-size: 48rem;
				margin-top: 64rem;
			}
		}

		&_txt {
			margin-top: 40rem;
			text-align: center;

			@media (max-width: 768px) {
				margin-top: 48rem;
				text-align: left;
			}
		}
	}
}

// Connections
// ================================================ */
.pg_about {
	.bl_about {

		// リスト
		&_list {
			display: flex;
			flex-direction: column;
			gap: 40rem;
			margin-top: 64rem;

			@media (max-width: 768px) {
				gap: 56rem;
			}

			&_dl {
				font-size: 20rem;
				line-height: 2;
				display: flex;
				gap: 40rem;

				@media (max-width: 768px) {
					font-size: 28rem;
					flex-direction: column;
					gap: 16rem;
				}
			}

			&_dt {
				color: var(--color_primary);
				border: 2px solid var(--color_primary);
				background: #fff;
				border-radius: 8rem;
				padding: 2rem 24rem;
				min-width: 200rem;
				height: 50rem;
				text-align: center;

				@media (max-width: 768px) {
					padding: 8rem 24rem;
					height: 80rem;
				}
			}
		}

		// connections
		&_circleImg {
			width: 750rem;
			position: relative;
			margin-inline: auto;
			margin-top: 56rem;

			@media (max-width: 768px) {
				margin-top: 40rem;
				width: 620rem;
			}

			.bl_anime_circle {
				position: absolute;
				inset: 0;
				margin: auto;
				z-index: -1;
				width: 600rem;
				height: 600rem;

				@media (max-width: 768px) {
					width: 500rem;
					height: 500rem;
				}
			}
		}

		&_connectionsList {
			width: 750rem;
			margin-inline: auto;
			margin-top: 56rem;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 8rem 200rem;

			@media (max-width: 768px) {
				width: 100%;
				margin-top: 40rem;
				gap: 8rem;
			}

			.bl_footerNav_ttl {
				&>span {
					font-weight: 700;
					color: #000;
					margin-left: 8rem;

					@media (max-width: 768px) {
						font-size: 24rem;
					}

					&:before {
						position: absolute;
						left: 0;
						content: "";
						width: 16rem;
						height: 16rem;
						border: 3px solid var(--color_secondary);
						border-radius: 50%;
						margin-bottom: 2rem;

						@media (max-width: 768px) {
							width: 20rem;
							height: 20rem;
							border: 2px solid var(--color_secondary);
						}
					}
				}
			}
		}

		// ひがしんのつながり01
		&_connections_wrap {
			margin-top: 56rem;
			padding-block: 32rem;
		}

		.el_thirdHeading_wrap {
			display: flex;
			justify-content: center;

			.el_thirdHeading {
				&>span {
					margin-top: 8rem;
					margin-bottom: 0;
				}
			}
		}
	}
}

// Connections
// ================================================ */
.pg_about {
	.bl_about_grid {
		margin-top: 64rem;

		&_item {
			display: flex;
			align-items: center;
			gap: 40rem;

			@media (max-width: 768px) {
				flex-direction: column;
			}

			&_inner {
				width: 600rem;
				display: flex;
				flex-direction: column;
				gap: 24rem;
			}
		}

		&_figure {
			width: 600rem;
			height: auto;
			border-radius: 30rem;
			overflow: hidden;
		}

		&_ttl {
			font-size: 32rem;
			font-weight: 700;
		}

		&_card {
			display: flex;
			flex-direction: column;
			gap: 24rem;

			.bl_about_grid_ttl {
				margin-top: 16rem;
			}

			@media (max-width: 768px) {
				width: 600rem;
				margin-inline: auto;
			}
		}
	}

	.bl_about_grid__flex {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 80rem;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}
}

.pg_about {
	.bl_about_logoItem {
		display: flex;
		align-items: center;
		gap: 80rem;
		padding: 56rem 88rem;
		background: #fff;
		border-radius: 30rem;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 40rem;
			padding: 48rem;
		}

		&_figure {
			width: 200rem;
			height: auto;

		}

		&_inner {
			width: 840rem;

			@media (max-width: 768px) {
				width: 100%;
			}
		}

		&_ttl {
			font-size: 32rem;
			font-weight: 700;
		}

		&_txt {
			margin-top: 16rem;

			@media (max-width: 768px) {
				margin-top: 24rem;
			}
		}
	}
}