//- about -------------------------------------------------------------------------
mixin other-parts
	.ly_cont
		section.bl_sect.un_other
			.un_otherConts
				h2.un_other_ttl
					|この街を
					span.hp_cSec 縁
					|でつなぐ。
				//- ボタン
				a.el_btn.el_btn__entry.hp_en(href=link_path+"message/")
					span ENTRY